 div.row-widget.stButton{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

header.css-18ni7ap.e8zbici2
{
    background-color: #A6D0DD;
}

div.css-16idsys p {
    font-size: large;
}

p{
    font-size: larger;
}

div.css-fg4pbf {
    position: absolute;
    background: #A6D0DD;
    color: rgb(49, 51, 63);
    inset: 0px;
    overflow: hidden;
}

span.css-10trblm.e16nr0p30
{
    color: rgb(49, 51, 63);
}

div.css-6qob1r.e1fqkh3o3
{
    background-color: #212A3E;
}

span.css-17lntkn.e1fqkh3o5
{
    color: #D2E9E9;
}

button.css-1ik2ge.edgvbvh10
{
    background-color: #D2E9E9;
}

label.css-81oif8.effi0qh3
{
    color: #D2E9E9;
}

span.css-pkbazv.e1fqkh3o5
{
    font-size: larger;
}

div.css-16idsys.e16nr0p34
{
    color: #4F4557;
}

button.css-nqowgj.edgvbvh3
{
    color: #4F4557;
}

div.css-12ttj6m.epcbefy1
{
    background-color: #9DC08B;
    border-radius: 30px;
}

button.st-ef.st-f7.st-b6.st-b5.st-ar.st-as.st-bf.st-f8.st-cn.st-dg.st-de.st-dh.st-df.st-c1.st-c3.st-c2.st-c4.st-c5.st-c7.st-c6.st-c8.st-bz.st-fa.st-fb.st-b1.st-fc.st-c9.st-fd.st-fe.st-ff.st-fg.st-fh.st-fi.st-ae.st-fj.st-ag.st-ah.st-ai.st-aj.st-fk.st-fl.st-dc.st-ed.st-fm.st-fn{
    border-radius: 10px;
}